/* You can add global styles to this file, and also import other style files */

.login-register-link {
    font-weight: 800;
    color: white;
    font-family: "Cairo";
    text-align: center;
    font-size: 12px;
    display: block;
    margin: 0 auto;
    margin-top: 2em;
    z-index: 5;
}