<div class="register-container">
   

<form (submit)="onRegisterSubmit()" enctype="multipart/form-data" method="post" class="register-form" autocomplete="off">
    <div class="container">
        <input class="register-input" type="text" placeholder="إسم المستخدم" [(ngModel)]="User.username" name="username" required>

        <input class="register-input" type="text" placeholder="الإسم" [(ngModel)]="User.name" name="name" required>

        <input class="register-input" type="email" placeholder="الإيميل" [(ngModel)]="User.email" name="email" required>
  </div>
</form>

    <img class="register-mount-with-acropolis" src="../../../assets/mount-with-acropolis.png" alt="">
</div>