<div class="feed-hero-screen">
    <div class="feed-hero-screen-overlay"></div>
    <p>أخر <br> حاجة</p>
    <h1 fittext [minFontSize]="48" [maxFontSize]="130">المنشور الفلاني</h1>
    <h4 fittext [minFontSize]="10" [compression]="2" [maxFontSize]="25">إسم الكاتب</h4>
</div>

<div class="feed-section">
    <h2>مختاراتنا</h2>
    <div class="post-card-container">
        <div class="post-card">
            <div class="post-card-overlay"></div>
            <h6>Recommended</h6>
            <h4>Some Post</h4>
            <p>Some Guy</p>
        </div>
    </div>
</div>