<div class="feed-hero-screen">
    <div class="feed-hero-screen-overlay"></div>
    <p>أخر <br> حاجة</p>
    <h1 fittext [minFontSize]="48" [maxFontSize]="130">المنشور الفلاني</h1>
    <h4 fittext [minFontSize]="10" [compression]="2" [maxFontSize]="25">إسم الكاتب</h4>
</div>

<div class="feed-section">
    <h2>سياسة</h2>
    <div class="post-card-container grid1">
        <div style="background-image: url(../../../assets/stock-1.jpg)" class="post-card">
            <div class="post-card-overlay"></div>

            <h6>سياسة</h6>
            <h4>المنشور الفلاني</h4>
            <p>محمد صلاح</p>
        </div>
        <div style="background-image: url(../../../assets/stock-2.jpg)" class="post-card">
            <div class="post-card-overlay"></div>

            <h6>سياسة</h6>
            <h4>المنشور الفلاني</h4>
            <p>محمد صلاح</p>
        </div>
        <div style="background-image: url(../../../assets/stock-3.jpg)" class="post-card">
            <div class="post-card-overlay"></div>

            <h6>سياسة</h6>
            <h4>المنشور الفلاني</h4>
            <p>محمد صلاح</p>
        </div>
        <div style="background-image: url(../../../assets/stock-4.jpg)" class="post-card">
            <div class="post-card-overlay"></div>

            <h6>سياسة</h6>
            <h4>المنشور الفلاني</h4>
            <p>محمد صلاح</p>
        </div>
        <div style="background-image: url(../../../assets/stock-5.jpg)" class="post-card">
            <div class="post-card-overlay"></div>

            <h6>سياسة</h6>
            <h4>المنشور الفلاني</h4>
            <p>محمد صلاح</p>
        </div>
        <div style="background-image: url(../../../assets/stock-6.jpg)" class="post-card">
            <div class="post-card-overlay"></div>

            <h6>سياسة</h6>
            <h4>المنشور الفلاني</h4>
            <p>محمد صلاح</p>
        </div>

    </div>
</div>


<div class="feed-section">
    <h2>سياسة</h2>
    <div class="post-card-container grid2">
        <div style="background-image: url(../../../assets/stock-1.jpg)" class="post-card">
            <div class="post-card-overlay"></div>

            <h6>فن</h6>
            <h4>المنشور الفلاني</h4>
            <p>محمد صلاح</p>
        </div>
        <div style="background-image: url(../../../assets/stock-2.jpg)" class="post-card">
            <div class="post-card-overlay"></div>

            <h6>رأي</h6>
            <h4>المنشور الفلاني</h4>
            <p>محمد صلاح</p>
        </div>
        <div style="background-image: url(../../../assets/stock-3.jpg)" class="post-card">
            <div class="post-card-overlay"></div>

            <h6>سياسة</h6>
            <h4>المنشور الفلاني</h4>
            <p>محمد صلاح</p>
        </div>
        <div style="background-image: url(../../../assets/stock-4.jpg)" class="post-card">
            <div class="post-card-overlay"></div>

            <h6>سياسة</h6>
            <h4>المنشور الفلاني</h4>
            <p>محمد صلاح</p>
        </div>
        <div style="background-image: url(../../../assets/stock-5.jpg)" class="post-card">
            <div class="post-card-overlay"></div>

            <h6>سياسة</h6>
            <h4>المنشور الفلاني</h4>
            <p>محمد صلاح</p>
        </div>
        <div style="background-image: url(../../../assets/stock-6.jpg)" class="post-card">
            <div class="post-card-overlay"></div>

            <h6>سياسة</h6>
            <h4>المنشور الفلاني</h4>
            <p>محمد صلاح</p>
        </div>

    </div>
</div>


<div class="feed-section">
    <h2>فن</h2>
    <div class="post-card-container grid3">
        <div style="background-image: url(../../../assets/stock-1.jpg)" class="post-card">
            <div class="post-card-overlay"></div>

            <h6>فن</h6>
            <h4>المنشور الفلاني</h4>
            <p>محمد صلاح</p>
        </div>
        <div style="background-image: url(../../../assets/stock-2.jpg)" class="post-card">
            <div class="post-card-overlay"></div>

            <h6>سياسة</h6>
            <h4>المنشور الفلاني</h4>
            <p>محمد صلاح</p>
        </div>
        <div style="background-image: url(../../../assets/stock-3.jpg)" class="post-card">
            <div class="post-card-overlay"></div>

            <h6>سياسة</h6>
            <h4>المنشور الفلاني</h4>
            <p>محمد صلاح</p>
        </div>
        <div style="background-image: url(../../../assets/stock-4.jpg)" class="post-card">
            <div class="post-card-overlay"></div>

            <h6>سياسة</h6>
            <h4>المنشور الفلاني</h4>
            <p>محمد صلاح</p>
        </div>
        <div style="background-image: url(../../../assets/stock-5.jpg)" class="post-card">
            <div class="post-card-overlay"></div>

            <h6>سياسة</h6>
            <h4>المنشور الفلاني</h4>
            <p>محمد صلاح</p>
        </div>
        <div style="background-image: url(../../../assets/stock-6.jpg)" class="post-card">
            <div class="post-card-overlay"></div>

            <h6>سياسة</h6>
            <h4>المنشور الفلاني</h4>
            <p>محمد صلاح</p>
        </div>

    </div>
</div>


<div class="feed-section">
    <h2>فن</h2>
    <div class="post-card-container grid4">
        <div style="background-image: url(../../../assets/stock-1.jpg)" class="post-card">
            <div class="post-card-overlay"></div>

            <h6>تكنولوجيا</h6>
            <h4>المنشور الفلاني</h4>
            <p>محمد صلاح</p>
        </div>
        <div style="background-image: url(../../../assets/stock-2.jpg)" class="post-card">
            <div class="post-card-overlay"></div>

            <h6>سياسة</h6>
            <h4>المنشور الفلاني</h4>
            <p>محمد صلاح</p>
        </div>
        <div style="background-image: url(../../../assets/stock-3.jpg)" class="post-card">
            <div class="post-card-overlay"></div>

            <h6>سياسة</h6>
            <h4>المنشور الفلاني</h4>
            <p>محمد صلاح</p>
        </div>
        <div style="background-image: url(../../../assets/stock-4.jpg)" class="post-card">
            <div class="post-card-overlay"></div>

            <h6>سياسة</h6>
            <h4>المنشور الفلاني</h4>
            <p>محمد صلاح</p>
        </div>
        <div style="background-image: url(../../../assets/stock-5.jpg)" class="post-card">
            <div class="post-card-overlay"></div>

            <h6>سياسة</h6>
            <h4>المنشور الفلاني</h4>
            <p>محمد صلاح</p>
        </div>
        <div style="background-image: url(../../../assets/stock-6.jpg)" class="post-card">
            <div class="post-card-overlay"></div>

            <h6>سياسة</h6>
            <h4>المنشور الفلاني</h4>
            <p>محمد صلاح</p>
        </div>

    </div>
</div>