.feed-hero-screen {
    width: 100%;
    height: 100vh;
    display: flex;
    background-image: url(../../../assets/paper-bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}

.feed-hero-screen > p, h1, h4 {
    position: relative;
    z-index: 10;
    display: block;
    font-family: "Cairo";
    color: white;
}

.feed-hero-screen > p {
    font-weight: 600
}

.feed-hero-screen > h4 {
    align-self: center;
}

.feed-hero-screen > h1 {
    font-size: 72px;
    font-weight: 900;
}

.feed-hero-screen-overlay {
    background-color: #a64ac9;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 9;
    mix-blend-mode: multiply;
}
.post-card {
    position: relative;
}
.post-card > h6,
h4,
p {
    font-family: "Cairo";
    text-align: center;
    color: white;
    z-index: 10;
    position: relative;
}
.post-card-overlay {
    background-color: #a64ac9;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 9;
    mix-blend-mode: multiply;
}
.feed-section {
    margin: 0 auto;
    background-color: #f6e6cc;
}
.feed-section > h2 {
    font-family: "Cairo";
    text-align: center;
    font-weight: 600;
}
