<div class="login-container">

 <form (submit)="onLoginSubmit()" class="login-form" autocomplete="off" >
  <div class="container">
   
    <input type="text" placeholder="إسم المستخدم" [(ngModel)]="username" name="username" class="login-input" required>
    
    <input type="password" placeholder="كلمة السر" [(ngModel)]="password" name="password" class="login-input" required>

    </div>
</form>
       
    <a class="login-register-link" routerLink="/register"> ! معندكش حساب ؟ سجل هنا </a>
<img class="login-mount-with-acropolis" src="../../../assets/mount-with-acropolis.png" alt="">
</div>
